span {
  display: inline-block;
  padding: 10px;
  position: relative; 
}

.button {
  width: 50px;
  height: 50px;
  display: inline-block;
  margin: 5px;
  border: solid black 2px;
  position: relative; 
}

.close-icon {
  position: absolute;
   top: 0px; 
  right: 0px;
  font-size: 12px;
  color: red;
  cursor: pointer;
  z-index: 10; 
  background-color: white;
 
}

.canvas {
  margin: 100px;
  width: 80%;
  text-align: center;
}

#colorCode {
  width: 180px;
  height: 30px;
  border: solid black 2px;
  border-radius: 10px;
  padding-left: 5px;
}

.addbtn, .removebtn {
  width: 100px;
  height: 32px;
  background-color: aqua;
  border-radius: 5px;
  margin: 5px;
}

#grey {
  background-color: grey;
 
}

#white {
  background-color: white;
}

#blue {
  background-color: blue;
}

#yellow {
  background-color: yellow;
}



