 
  span {
    display: inline-block;
    padding: 10px;
  }
  .button {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin: 5px;
}

.error {
    color: red;
    font-size: 14px;
}
  .canvas {
    margin: 100px ;
    width: 80%;
    text-align: center;
  }
  
  .button {
    width: 60px;
    height: 60px;
    border: solid black 2px;
    display: inline-block;
    margin: 5px;
  }
  #colorCode{
    width: 180px;
    height: 30px;
    border: solid black 2px;
    border-radius: 10px;
    padding-left: 5px;
  }
  .addbtn{
    width: 100px;
    height: 32px;
    background-color:aqua;
    border-radius: 5px;
  }
  .removebtn{
    width: 100px;
    height: 32px;
    background-color:aqua;
    border-radius: 5px;
  }
  #grey {
    background-color: grey;
  }
  
  #white {
    background-color: white;
  }
  #blue {
    background-color: blue;
  }
  #yellow {
    background-color: yellow;
  }
  
